// #map-sprite {
//     width: 64px;
//     height: 64px;
//     transform: scale(3);
//     filter: contrast(150%);
//     background: url(https://i.imgur.com/1lenmOh.png) -769px -192px;
//   }


#map-sprite {
    width: 128px;
    height: 128px;
    filter: contrast(120%);
    background: url(https://i.imgur.com/nyUEPVS.png) -1538px -386px;
}


#enchant-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -1920px -1536px;
}

#sword-sprite {
    width: 124px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -386px -512px;
}

#pets-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -1666px -1792px;
}

#hunt-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -0px -1794px;
}

#rankup-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -1154px -1410px;
}

#relics-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -896px -1792px;
}

#sets-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -384px -128px;
}

#others-sprite {
    width: 128px;
    height: 128px;
    background: url(https://i.imgur.com/nyUEPVS.png) -1792px -256px;
}